/* Draggable Element */

.draggable--over {
    background-color: #FFF7C6 !important;
    border: 3px dashed #CCC;
}

.draggable--over * {
    -webkit-transform: perspective(90rem) rotateX(60deg) translateY(.8rem);
    transform: perspective(90rem) rotateX(60deg) translateY(.8rem)
}